@import "../../globalColorTheme.css";

:root {
    --product-min-width: 100px;
    --product-width: 150px;

    --max-products-in-row: 10;
}

:local(.wrapper) {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: inherit;
    height: inherit;

    background: inherit;
}

:local(.product) {
    display:grid;
    max-width: 10%; /*maximum 10 elements in one row */

    grid-template-rows: 15vh 
                        20vh;
    grid-template-columns: 1fr;
    
    flex: 0 1 var(--product-min-width);
    
    height:auto;
    background: inherit;
}

:local(.image) {
    min-width: 0;
    width:auto;
    max-width:100%;

    min-height: 0;    
    height:100%;
    max-height:100%;

    align-self: center;
    justify-self: center;
    object-fit: contain;

    overflow: hidden;
}

:local(.text) {
    min-width: 0;
    width:100%;
    max-width:100%;
    
    min-height: 0;
    height:100%;
    max-height: 100%;

    align-self: top;

    text-align: center;
    text-overflow: ellipsis;
    word-break: normal;


    background: inherit;
    color: var(--color-font-dark);
    
}