@import "../../globalColorTheme.css";

:root {
    --product-min-width: 100px;
    --product-width: 150px;

    --max-products-in-row: 10;
}

:local(.wrapper) {
    display: inline-flex;
    flex-wrap: wrap;

    min-width: 0;
    width: 100%;
    flex: 0 0 auto;
    
    margin-bottom: 10vh;
}

:local(.product) {
    display:inline-grid;

    grid-template-rows: 15vh
                        15vh;
    grid-template-columns: 100%;
    grid-auto-rows: fit-content;
    
    margin-left: 15px;
    height: 100%;
    width: 60px;
}

:local(.image) {
    align-self: center;
    justify-self: center;
    margin: auto;

    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;

    max-width: 100%;
    max-height: 100%;
}

:local .image > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    text-overflow: ellipsis;
    word-wrap: break-word;
}

:local(.text) {
    display: inline-block;
    width:100%;
    min-height: fit-content;

    align-self: top;

    text-align: center;
    word-break: normal;

    overflow: hidden;

    color: var(--color-font-dark);
    
}