/*http://paletton.com/palette.php?uid=70u0u0kFWsvpaDbzVDCJhn6NYhy*/
:root {
    --color-main: #FF7400;
    --color-secondary: #B85300;
    --color-tertiary: #1247C1;
    
    --color-dark: dimgrey;
    --color-light: ivory;

    --color-font-dark: #2d2d2d;
    --color-font-dark-subdued: lightgray;
    --color-font-light: ivory;

    --color-good-light: limegreen;
    --color-good: green;
    --color-good-dark: darkgreen;

    --color-bad-light: pink;
    --color-bad: red;
    --color-bad-dark: darkred;

    --color-info-light: lightblue;
    --color-info: blue;
    --color-inf-dark: darkblue;

    --color-disabled: lightgray;
    --color-disabled-dark: gray; 
}