input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--color-tertiary);
    
    box-shadow: 3px 2px;
    text-align: center;
}