:local(.Layout){
    display:grid;

    grid-template-areas: "Categories ProductsMostPopular ."
                        ". ProductsRecentlyAdded .";

    grid-template-columns: 20vw auto 20vw;
    
    grid-template-rows: 1fr
                        1fr;
    
    grid-column-gap:10px;
    padding-top: 5vh;
}

:local(.gridCategories) {
    grid-area: Categories;
}

:local(.gridSearchAutocomplete) {
    grid-area: SearchAutocomplete;
}

:local(.gridProductsMostPopular) {
    grid-area: ProductsMostPopular;

}

:local(.gridProductsRecentlyAdded) {
    grid-area: ProductsRecentlyAdded;
}
