:local(.Layout){
    display:grid;

    grid-template-areas: "Categories SearchAutocomplete _BLANK_"
                         "ProductsMostPopular";

    grid-column-gap:10px;

    padding-top: 30px;
}

:local(.gridCategories) {
    grid-area: Categories;
}

:local(.gridSearchAutocomplete) {
    grid-area: SearchAutocomplete;
}

:local(.gridProductsMostPopular) {
    grid-area: ProductsMostPopular;
}

