@import "../../globalColorTheme.css";
/*You may need to tinker with the selectors a bit
because the <Autocomplete/> component hates
CSS modules*/

:local(.main) > div > input { /*<-tinkering with selectors*/
    display: block;
    width: 100%;
    height: 40px;
    
    padding-left: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;

    top:50%;

}

:local(.main) {
}

/*dropdown that contains all search results*/


:local(.elementsWrapper) > div {
    min-width: 0 !important;
    width:100% !important;
} 

:local(.elementHighlighted) {
    background-color: var(--color-tertiary);
}

:local(.elementNormal) {
    background-color: var(--color-light);
}


:local(.element) {
    width: 100%;
    height: 9vh;
    min-height: 30px;
    padding: 3px;
}

:local(.elementText) {
    display: inline-block;
    margin: 1%;
}

:local(.elementImageWrapper) {
    height: 100%;
    width: 10%;
    display:inline-block;
}

:local(.elementImage) {
    height: 100%;
    width: 100%;
    object-fit: contain;
}